/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Poppins");


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6d6db !important;
}

.m-0 {
  margin: 0 !important;
}

:root {
  --textColor: #1d2744;
  --btnColor: #303c48;
  --borderColor: #e5e5e5;
  --signColor: #0f78d0;
  --footerColor: #242b3c;
  --white: #fff;
  --red: rgb(192, 62, 62);
  --green: rgb(28, 207, 133);
  --yellow: rgb(255, 217, 0);
  --color-success: rgb(31, 92, 31);

  --fontFam: "Open Sans", sans-serif;
  --fontfamily: "Nunito Sans", sans-serif;
  --fontPopins: "Poppins", sans-serif;
  --borderRadius: 8px;
}

/* welcome page start */

.welcome_container {
  width: 100%;
  height: 92vh;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-family: var(--fontfamily);
}

.topLayer,
.bottomlayer {
  width: 100%;
  height: auto;
  text-align: center;
}

.topLayer img {
  width: 13rem;
  height: 13rem;
  background-size: contain;
  background-position: center;
}

.title_text h1,
.title_text p {
  color: var(--textColor);
}

.title_text h1 {
  font-weight: 700;
}

.title_text p {
  font-weight: 400;
}

.bottomlayer {
  padding: 4rem 0 0;
}

.nextPage_btnSec {
  font-family: var(--fontfam);
}

.nextPage_btnSec .btn {
  padding: 0.65rem 5rem;
  margin: 1rem 0;
  border-radius: 1.2rem;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s all;
  background-color: var(--btnColor);
  color: var(--white);
}

.nextPage_btnSec .btn:hover {
  opacity: 0.96;
  font-size: 1.1rem;
  font-weight: 500;
  transform: scale(1.01);
}

p.sublink {
  font-size: 1rem;
  font-weight: 600;
}

p.sublink .nextink {
  color: var(--signColor);
  opacity: 0.8;
  transition: 0.3s all ease-out;
}

p.sublink .nextink:hover {
  letter-spacing: 1.02px;
  opacity: 1;
}

/* Welcome page end */

/* footer page started  */

.footer_container {
  width: 100%;
  height: 8vh;
  margin: 0;

  padding: 0 3rem;
  display: flex;
  align-items: center;

  font-family: var(--fontfamily);
  background-color: var(--footerColor);
}

.footer_container p {
  color: var(--white);
}

/* footer page End */

/* login page Start */

.login_container {
  width: 100%;
  height: 72vh;
}

.login_sec {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nextPage_btnSec img {
  width: 13rem;
  height: 13rem;
  background-size: contain;
  background-position: center;
}

.nextPage_btnSec p {
  color: var(--textColor);
}

.form_con h1 {
  font-weight: 700;
}

.logo_con {
  text-align: center;
}

.nextPage_btnSec p {
  font-weight: 400;
  font-size: 1.3rem;
}

.form_con,
.logo_con,
.form_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  font-family: var(--fontfamily);
}

.form_container {
  zoom: 0.93;
}

.form_con .from_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 1rem 0 0rem 0rem;
}

.form_container .from_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.9rem 0 0rem 0rem;
  position: relative;
}

.form_con .from_field .label {
  font-size: 1.05rem;
  line-height: 2;
}

.form_container .from_field .label {
  font-size: 0.95rem;
  line-height: 1.4;
}

.form_con .from_field .input_filed {
  width: 300px;
  padding: 0.5rem 1rem;
}

.form_container .from_field .input_filed {
  width: 330px;
  padding: 0.35rem 1rem;
}

.form_container .from_field.added {
  margin-right: 20px;
}

.form_container .from_field p,
.form_con .from_field p {
  font-weight: 700;
  margin: 0;
  text-align: left;
  width: 100%;
}

.form_con .from_field .btn {
  padding: 0.65rem 2rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s all;
  background-color: var(--btnColor);
  color: var(--white);
}

.form_con .from_field .btn:hover {
  opacity: 0.96;
  font-size: 1.1rem;
  font-weight: 500;
  transform: scale(1.01);
}

.catogory {
  display: flex;
  justify-content: space-between;
}

.catogory .from_field .input_filed {
  width: 155px !important;
  padding: 0.35rem 1rem;
}

.logo_con p.sublink {
  font-size: 1rem;
  font-weight: 600;
}

.logo_con p.sublink .nextink {
  color: var(--signColor);
  opacity: 0.8;
  transition: 0.3s all ease-out;
}

.logo_con p.sublink .nextink:hover {
  letter-spacing: 1.02px;
  opacity: 1;
}

.form_container .from_field p.error,
.form_con .from_field p.error,
.error {
  position: absolute;
  color: var(--red);
  left: 0;
  bottom: -20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.form_container .from_field p.error,
.error {
  font-size: 0.85rem;
  bottom: -17px;
}

.form {
  position: relative;
}

.success p {
  font-weight: 700;
  font-size: 1.1rem;
  width: 400px;
  color: var(--color-success);
  border-radius: 5px;
  margin-top: 0.5rem;
}

/* login page end */

/* header page started  */

.header_container {
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--fontfamily);
}

.logo_img img {
  width: 15rem;
  height: auto;
}

.links_con ul {
  display: flex;
  align-items: center;
}

.links_con ul li,
.links_con ul li .nextink {
  list-style-type: none;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: underline;
  color: var(--textColor);
  transition: 0.3s all;
}

.links_con ul li:hover {
  letter-spacing: 0.5px;
}

.links_con ul li button {
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  font-family: var(--fontfamily);
  font-weight: 700;
  border: 2px solid rgb(185, 185, 185);
}

.links_con ul li button .nextink {
  text-decoration: none;
}

/* footer page End */

/* dashboard page start */
.primary_container {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: auto;
  font-family: var(--fontFam);
}

.d_flex {
  display: flex;
}

.dashboard_page {
  justify-content: space-between;
}

.left_side {
  width: 20%;
  height: auto;
}

.dashboard {
  width: 20%;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--footerColor);
  color: var(--white);
  position: fixed;
  top: 1rem;
  bottom: 1rem;
}

.dotted {
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;

  text-decoration: none;
  color: var(--white);
}

.dotted img {
  width: 1.8rem;
  height: 1.8rem;
  margin: 5px;
}

.dotted h3 {
  margin: 0%;
}

.link_sec {
  padding: 0.5rem;
}

.link_sec ul {
  list-style-type: none;
  padding: 0.5rem 0;
  border-top: 2px solid var(--borderColor);
}

.link_sec ul li,
.link_sec ul li .Link {
  padding: 0.45rem 0.1rem;
  margin: 0.1rem 0;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.3s all ease-in-out;
  color: var(--white);
  text-decoration: none;
}

.link_sec ul li:hover {
  letter-spacing: 1.01px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.45rem 0.5rem;
  background-color: var(--btnColor);
}

.right_side {
  width: 79%;
  height: auto;
}

.main_sec {
  width: 78%;
  height: auto;
  padding: 0 1rem;
  border-radius: 5px;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.header_con {
  width: 100%;
  height: 10%;
  justify-content: space-between;
}

.right_align,
.left_align {
  align-items: center;
  justify-content: space-between;
}

li p.rounded {
  position: relative;
  padding-left: 1.5rem;
}

li p.rounded #roun_spin {
  position: absolute;
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  bottom: 2px;
  left: 0;
  background-color: rgb(243, 212, 34);
}

.header_con li {
  list-style-type: none;
  margin: 0 0.8rem;
  font-weight: 500;
  font-size: 0.95rem;
  transition: 0.1s all ease;
}

.header_con .left_align li p {
  color: var(--btnColor);
  text-shadow: 1px 0px var(--btnColor);
}

.header_con .right_align li:hover,
.header_con li img:hover {
  cursor: pointer;
  transform: scale(1.02);
  z-index: 2;
}

.right_align li .nameAvatar {
  color: var(--footerColor);
  filter: brightness(300%);
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
}

.notification_img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.right_align li .meeting {
  color: var(--footerColor);
  font-weight: 600;
}

.avatar_img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.25rem;
  border-radius: 50%;
  object-fit: contain;
  filter: brightness(30%);
}

.banner_con {
  width: 100%;
  height: 17%;
  border-radius: 10px;
  background-color: var(--footerColor);
  position: relative;
}

.align_center {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  color: var(--white);
}

.banner_con .employee_img {
  width: 10rem;
  height: auto;
  transform: scale(1.6);
  margin: -4rem 0 0 4rem;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.banner_con .cloud_1 img {
  position: absolute;
  content: "";
  width: 12rem;
  height: 10rem;
  left: 2rem;
  bottom: -2.2rem;
  z-index: 0;
}

.crane {
  transform: rotateY(-180deg);
  transform-origin: 50% 50%;
  object-fit: contain;
  margin: -1rem -0.8rem 0 0;
}

.banner_con .text_con {
  padding: 1.2rem 3rem;
  color: var(--white);
  position: relative;
}

.banner_con .text_con .userName {
  text-transform: capitalize;
}

.banner_con .text_con p {
  font-size: 0.9rem;
}

.cloud img {
  position: absolute;
  content: "";
  left: 80%;
  top: -0.8rem;
  width: 4rem;
  height: 4rem;
  animation: myfirst 30s infinite;
  animation-direction: alternate;
  z-index: 0;
}

@keyframes myfirst {
  0% {
    left: 28rem;
    top: -10px;
  }

  25% {
    right: 10rem;
    top: -5px;
  }

  50% {
    right: 15rem;
    top: -10px;
  }

  75% {
    right: 10rem;
    top: -5px;
  }

  100% {
    right: 0rem;
    top: -10px;
  }
}

.card_list,
.card_con {
  width: 100%;
  height: 69%;
  justify-content: space-between;
  align-content: center;
}
.color_gray {
  color: grey !important;
}
.card_details {
  width: 80%;
}

.form_sec {
  width: 75%;
}

.upload_sec {
  width: 25%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.create_card,
.upload_card {
  width: 18%;
  height: 35%;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-out;
  text-decoration: none;
  position: relative;
}

.justify-con {
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  border-radius: 5px;
  overflow-y: auto;
  height: 100%;
}

.justify-con::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.justify-con::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 189);

  height: 5px;
  width: 5px;
  border-radius: 5px;
}

.create_card {
  margin: 0 2% 2% 0;
}

.create_card:hover,
.upload_card:hover {
  opacity: 0.9;
  /* transform: scale(0.98); */
  cursor: pointer;
  border-radius: 0.7rem;
}

.create_card img,
.upload_card img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.3rem;
}

.upload_card .tooltip {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all ease-out;
  right: 103%;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);

  display: none;
}

.upload_card .tooltip::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid var(--red);
}

.cardPart {
  width: 49.2%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.background_blue {
  background-color: var(--textColor);
  color: var(--borderColor);
}
.background_white {
  color: var(--textColor);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.6rem 0.2rem 0;
}
.file_upload {
  width: 1.5rem !important;
  height: 1.35rem !important;
  object-fit: contain;
}
.folder_upload {
  width: 1.8rem !important;
  height: 1.7rem !important;
  object-fit: contain;
}
.file_typedoc {
  margin-left: 1rem;
  color: black;
}
.file_typedoc.last {
  margin-left: 0.7rem;
}
.background_orange {
  background-color: #b6a360;
  color: var(--borderColor);
}

.background {
  background-color: var(--borderColor);
  color: var(--textColor);
}

.cards_one {
  width: 100%;
  justify-content: space-between;
}

.cards_one {
  height: 25%;
}

.childcard {
  width: 49%;
  height: 100%;
}

.cards_second {
  width: 100%;
  height: 72%;
}

.cardPart,
.childcard,
.cards_second {
  position: relative;
  border-radius: 10px;
}

.cardPart p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardPart .childcard p {
  font-size: 0.7rem;
  font-weight: 700;
}

.create_con {
  width: 100%;
  height: 88%;
  justify-content: space-between;
  align-content: center;
}

.upload_card {
  width: 95%;
  height: 31.5%;
}

.upload_card img {
  width: 4rem;
  height: 4rem;
}

.create_card img.photo_img {
  width: 9rem !important;
  height: 6rem;
  object-fit: cover;
}

.upload_card span {
  text-align: center;
  font-size: 0.75rem;
}

.upload_card label span {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.create_con .form_sec {
  color: var(--textColor);
}

.create_con .login_sec .from_field {
  margin-top: 1.05rem;
}

.create_con .login_sec .from_field label {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--fontfam);
}

.create_con .login_sec {
  justify-content: flex-start;
}

.create_con .login_sec .form_container {
  width: 100%;
  align-items: flex-start;
}

.create_con .form_container .from_field .input_filed {
  width: 600px;
  border: 2px solid rgb(190, 189, 189) !important;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.create_con .catogory {
  width: 600px;
  justify-content: space-between;
  position: relative;
}

.create_con .catogory .from_field .input_filed {
  width: 180px !important;
}

.create_con .catogory .from_field .input_filed.state {
  width: 120px !important;
}

.create_con .catogory .from_field .input_filed.city {
  width: 230px !important;
}

.create_con .from_field .btn {
  width: 200px;
  margin-top: 0.5rem;
  padding: 0.9rem 2rem;
  border-radius: 1rem;
  bottom: 0;
  font-size: 1.4rem;
  border: 0;
  color: var(--white);
  background-color: rgb(61, 199, 130);
  transition: all 0.3s ease-in;
}

.create_con .from_field .btn:hover {
  opacity: 0.9;
  width: 220px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

/* dashboard page end */

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

span.input_filed {
  position: relative;
  display: inline-block;
  /* padding: 0% !important; */
}

span.input_filed input.xDateContainer {
  position: absolute;
  display: block;
  opacity: 0;
  height: auto;
  width: 90%;
}

span.input_filed input[type="text"] {
  border: none;
  width: 80%;
  font-size: 1.1rem;
}

span.input_filed span {
  display: inline-block;
  width: 10px;
  color: var(--textColor);
  z-index: 2;
  margin-top: 0px;
  margin-left: 5px;
  float: right;
  cursor: pointer;
}

/* my project start */
.height-0 {
  height: auto;
}
.card_list .header {
  width: 15%;
  background-color: var(--borderColor);
  padding: 0.25rem;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}
.card_list .header h5 {
  width: auto;
  text-align: center;

  color: var(--textColor);
}
.card_list .table_container {
  padding: 0 0.3rem 0.3rem;
  background-color: #303c48;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}
.card_list .table {
  width: 100%;
  border-collapse: collapse;
}
.card_list .table thead {
  background-color: var(--btnColor);
  color: var(--white);
}
.card_list .table tbody {
  background-color: var(--white);
}
.card_list .table thead tr th,
.card_list .table tbody tr td {
  text-align: center;
  padding: 0.15rem 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  border: 1px solid var(--btnColor);
}
.border_remove tbody tr td {
  border: 1px solid transparent !important;
  border-bottom: 1px solid var(--btnColor) !important;
}
.card_list .table tbody tr td {
  padding: 0.35rem 0.5rem;
}
.card_list .table thead tr th span.round,
p span.round {
  margin: 0 1rem;
  position: relative;
}
p span.round {
  margin: 0 0.5rem;
}
.card_list .table thead tr th span.round::after,
p span.round::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
}
.card_list .table tbody tr td .green {
  color: var(--borderColor);
  background-color: var(--green);
}
.card_list .table tbody tr td .red {
  color: var(--borderColor);
  background-color: var(--red);
}
.card_list .table tbody tr td .yellow {
  color: var(--borderColor);
  background-color: var(--yellow);
}
.card_list .table tbody tr td .w-100 {
  width: 100%;
}
.card_list .table tbody tr td .w-75 {
  width: 75%;
}
.card_list .table tbody tr td .w-65 {
  width: 65%;
}
.card_list .table tbody tr td .w-50 {
  width: 50%;
}
.card_list .table tbody tr td .w-30 {
  width: 30%;
}
.card_list .table tbody tr td .w-25 {
  width: 25%;
}
.card_list .table tbody tr td .w-20 {
  width: 20%;
}
.card_list .table tbody tr td .w-10 {
  width: 10%;
}
.last_tdleft {
  border-radius: 0 0 0 var(--borderRadius);
}
.last_tdright {
  border-radius: 0 0 var(--borderRadius) 0;
}
.right_align li {
  position: relative;
}
.logout .Link {
  position: absolute;
  content: "";
  right: 0;
  top: 110%;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 1px;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0px 0.1px 8px 0 var(--btnColor);
  color: var(--signColor);
  text-decoration: none;
  z-index: 9;
}
.logout .Link::after {
  content: "";
  position: absolute;
  right: 0%;
  top: -8px;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid var(--white);
}
.flex_direction {
  flex-direction: row;
  justify-content: space-between;
}
.align_item {
  align-items: center;
  padding: 0 1rem;
  color: var(--white);
}
.upload_section {
  position: relative;
  align-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.uploadBtn {
  padding: 0.3rem 1.3rem;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  outline: none;
  border: 0;
  background-color: rgb(34, 156, 65);
  filter: brightness(120%);
  color: var(--white);
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 1px;
  font-family: var(--fontPopins);
  cursor: pointer;
  transition: 0.3s all ease-in;
}
#submitBtn {
  display: none;
}
.submit {
  margin-top: 1rem;
  float: right;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
}
.uploadBtn:hover {
  box-shadow: 0px 0.5px 3px var(--green);
}
.uploadBtn .arrow {
  padding: 0.3rem 0.5rem;
  position: relative;
}
.uploadBtn .arrow::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-30%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--white);
}
.dropdown_list {
  position: absolute;
  content: "";
  width: 320px;
  height: auto;
  right: 0%;
  top: 120%;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 1px 4px gray;
  padding: 0.7rem 0.7rem 1rem;
}
.upload_cards {
  position: relative;
}
.upload_card li {
  list-style-type: none;
}
.kiHXWb {
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 2rem 2rem 4rem !important;
  justify-content: center !important;
  border: dashed 2px var(--footerColor) !important;
  background-color: rgba(196, 255, 234, 0.377);
}
.kiHXWb svg {
  display: none;
}
.fVfcRr {
  display: none !important;
}
.filename {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 1rem;
  left: 0%;
  text-align: center;
  color: var(--btnColor);
  font-weight: 600;
  cursor: pointer;
}
.filename.file_upload {
  width: 2.3rem !important;
  height: 2.3rem !important;
  top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.error_feild {
  position: absolute;
  color: var(--red);
  width: 150px;
  text-align: left !important;
  left: 2.5rem;
  top: 105%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  font-weight: 600;
}
.rounded_Img img {
  border-radius: 50%;
  border: 5px solid var(--white);
  width: 5.5rem;
  height: 5.5rem;
}
.card_list .header.d_flex {
  width: 25%;
  justify-content: space-evenly;
}

.search_sec {
  position: relative;
  margin-bottom: 0.7rem;
}
.search_bar {
  border-radius: 8px;
  padding: 0.3rem 1rem;
  outline: none;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--fontPopins);
  width: 140%;
  float: right;
  color: var(--textColor);
}
.search_bar:focus ~ .search_icon,
.search_bar:hover ~ .search_icon {
  display: none;
}
.search_icon {
  position: absolute;
  display: block;
  content: "";
  right: 1rem;
  top: 50%;
  transition: 0.5s all ease-in;
  transform: translateY(-40%);
}
.search_icon img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}
.selectBar {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;

  cursor: pointer !important;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--fontPopins);
}
.selectBar::-ms-expand {
  display: none;
}
.select_sec {
  position: relative;
  margin: 0.5rem 0 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select_sec.onphase {
  margin: 0rem 0 0 !important;
}
.selectBar {
  position: relative;
  width: auto;
  height: auto;
  padding: 0.5rem 2rem 0.5rem 1rem;
  margin-left: 0.5rem;
  line-height: 1;
  background: var(--white);
  overflow: hidden;
  border-radius: 0.25em;
}
.selectBar.onphase {
  width: 200px !important;
  padding: 0.3rem 0.5rem 0.3rem !important;
}
.select_sec::after {
  content: "";
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid var(--textColor);
}
.selectBar:hover::after {
  color: #23b499;
}
.icon {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  margin-right: 0.3rem;
  cursor: pointer;
}
.icon.small_icon {
  width: 1.2rem;
  height: 1.2rem;
}
.align_items {
  align-items: center;
  justify-content: center;
}
.review {
  background-color: #9bd1fd4b;
  padding: 0.05rem;
  margin: 0.05rem;
  border-radius: 10px;
  color: rgb(50, 81, 139);
  font-size: 0.72rem;
}
.color_blue {
  color: var(--signColor);
}
/* my project end */

.fileContainer {
  display: flex;
  flex-direction: column;
}

.dropzone {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px dashed #b7b7b7;
  border-radius: 5px;
  color: #000;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}


@keyframes slide-left {
  100% { transform: translateX(0%); }
}

@keyframes slide-right {
  100% { transform: translateX(0%); }
}

